*.iml
.gradle/
.idea/
local.properties
build/
app/build/
captures/
.externalNativeBuild/
.cxx/
*.jks
*.keystore
keystore.properties
signing.properties
**/google-services.json

*-firebase-adminsdk-*.json
**/*firebase-adminsdk*.json
